@import "~bootstrap/scss/bootstrap";
@import 'modules/colors';

html,
body {
  background-color: $gray;
}

nav {
  margin-bottom: 1rem;
}

.jumbotron {
  margin: 0 1rem;
  padding: 2rem;

  &.about {
    .hello {
      font-weight: 700;
    }
  }
}
